.detailsTrainer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 80px;
    align-items: center;
}

.detailsTrainer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.detailsTrainerHeader {
    text-align: center;
    margin-bottom: 20px;
}

.detailsTrainerContent {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.detailsTrainerContent strong {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap;
}

.detailsTrainer-specializations-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.detailsTrainer-specializations-list li {
    margin-bottom: 5px;
}

.detailsTrainer-requestStatus {
    margin-top: 20px;
    text-align: center;
}

.detailsTrainer-requestStatus p {
    color: #ffc107;
}

.detailsTrainer-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.detailsTrainer-btn,
.detailsTrainer-btn-delete {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 150px;
    width: 150px;
    text-align: center;
}

.detailsTrainer-btn:hover {
    background-color: #0056b3;
}

.detailsTrainer-btn-delete {
    background-color: #dc3545;
}

.detailsTrainer-btn-delete:hover {
    background-color: #c12a36;
}

.detailsTrainer-return-btn {
    padding: 10px 15px;
    background-color: #888;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 150px;
    width: 150px;
    text-align: center;
}

.detailsTrainer-return-btn:hover {
    background-color: #666;
}

@media (max-width: 600px) {
    .detailsTrainer {
        width: 95%;
    }

    .detailsTrainer-buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .detailsTrainer-btn,
    .detailsTrainer-btn-delete,
    .detailsTrainer-return-btn {
        min-width: auto;
        width: 100%;
    }
}