.profilePage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 100px;
    align-items: center;
    width: 100%;
}

.profilePage {
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePage h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.profilePage-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profilePage-tabButton {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;

}

.profilePage-tabButton.active {
    background-color: #0056b3;
}

.profilePage-tab-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}