.profileTab {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    margin: 20px auto;
    transform: scale(1.08);
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profileTabForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

.profileTabForm label {
    margin-bottom: 5px;
    color: white;
}

.profileTabForm input,
.profileTabForm textarea,
.profileTabForm select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    box-sizing: border-box;
}

.profileTabForm textarea {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
}

.profileTabForm-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.profileTabForm select option {
    background-color: #333;
    color: white;
}

.profileTab-save-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: 160px;
}

.profileTab-save-btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.specializations-container {
    margin-bottom: 10px;
}

.specializations-container label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.specializations-select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

.specializations-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.specializationTags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.specializationTag {
    background-color: #007bff;
    color: white;
    padding: 3px 8px;
    margin: 3px;
    border-radius: 3px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.specializationTag span {
    margin-right: 3px;
}

.specializationTag button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1;
    padding: 0;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .profileTab {
        padding: 10px;
        max-width: 95%;
        margin: 10px auto;
        flex-direction: column;
        align-items: center;
    }

    .editForm {
        max-width: 95%;
    }

    .specializations-select {
        width: 100%;
    }
}