/* DetailsTrainerPage.css */

.detailsTrainer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 80px;
    align-items: center;
}

.detailsTrainer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.detailsHeader {
    text-align: center;
    margin-bottom: 20px;
}

.detailsContent {
    margin-bottom: 10px;
    display: flex; /* Use flexbox for alignment */
    align-items: flex-start; /* Align items to the top of the container */
}

.detailsContent strong {
    font-weight: bold;
    margin-right: 5px;
    white-space: nowrap; /* Prevent the label from wrapping */
}

.specializations-list {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    flex: 1; /* Allow the list to take up available space */
}

.specializations-list li {
    margin-bottom: 5px; /* Add spacing between list items */
}

.requestStatus {
    margin-top: 20px;
    text-align: center;
}

.requestStatus p {
    color: #ffc107;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.buttons-container .btn,  .buttons-container .btn-delete{ /* Combined styles */
    padding: 10px 15px;
    background-color: #007bff; /* Default blue color for .btn */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 150px; /* Minimum width */
    width: 150px; /* Fixed width for consistent size */
    text-align: center;  /* Center text */
}

.buttons-container .btn:hover {
    background-color: #0056b3;
}

.buttons-container .btn-delete { /* Override for delete button */
    background-color: #dc3545; /* Red color */
}

.buttons-container .btn-delete:hover {
    background-color: #c12a36;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .detailsTrainer {
        width: 95%;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
    }
    .buttons-container .btn, .buttons-container .btn-delete{
        min-width: auto; /* Remove minimum width */
        width: 100%; /* Full width on small screens */
    }
}