.mainPage {
    background: url('../assets/images/background.png');
    background-size: cover;
    height: 100vh;
}

.mainPage h1 {
    background-color: #0094b2; /* Niebieskie tło */
    padding: 10px 20px; /* Odstępy wewnątrz prostokąta */
    border-radius: 10px; /* Zakrzywione rogi */
    text-align: center; /* Centrowanie tekstu */
    color: white; /* Biały kolor tekstu */
    margin: 20px auto; /* Marginesy górny i dolny oraz automatyczne po bokach dla centrowania */
    width: 50%; /* Szerokość prostokąta, np. 50% szerokości kontenera */
    max-width: 600px; /* Maksymalna szerokość, aby uniknąć zbyt dużego rozciągania na dużych ekranach */
}

.mainNavigation {
    display: flex;
    justify-content: space-around; /* Aby równomiernie rozłożyć linki */
    background-color: #0094b2; /* Tło paska nawigacyjnego */
    padding: 10px 0; /* Padding dla paska nawigacyjnego */
}

.mainNavigation a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.mainNavigation a:hover {
    box-shadow: inset 0 0 15px #ffffff;
    background: #ff32b4;
}

.accountDetails {
    background-color: #0094b2;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    max-width: 600px;
}

.editButtonContainer {
    display: flex; /* Użyj flexboxa */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
}

.editButton {
    background: #0094b2; /* kolor tła */
    border: none; /* usuń standardową ramkę */
    border-radius: 20px; /* zaokrąglenie rogów */
    box-shadow: inset 0 0 10px #000000; /* wewnętrzny cień dla efektu wgłębienia */
    color: #ffffff; /* kolor tekstu */
    font-size: 16px; /* wielkość czcionki */
    font-weight: bold; /* pogrubienie tekstu */
    padding: 10px 20px; /* padding wewnątrz input */
    margin: 10px 0; /* woodstox od innych elementów */
    width: 200px; /* szerokość input */
    height: 40px; /* wysokość input */
    text-align: center; /* wyśrodkowanie tekstu */
    cursor: pointer; /* zmiana kursora na wskaźnik */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* efekt przejścia */
    outline: none; /* usunięcie outline przy fokusie */
}

.inputStyle::placeholder, .editButton::placeholder {
    color: #ffffff; /* kolor tekstu placeholder */
    opacity: 1; /* pełna widoczność placeholder */
}

/* Style dla przycisku przy interakcji */
.editButton:hover, .editButton:focus {
    box-shadow: inset 0 0 15px #ffffff; /* cień dla efektu 'aktywnego' */
    background: #ff32b4; /* kolor tła przy interakcji */
}

.error {
    color: #ff0000; /* Zmiana koloru tekstu na czerwony dla większego kontrastu */
    background-color: #fff3f3; /* Jasnoczerwone tło dla błędu */
    border: 1px solid #ff0000; /* Czerwona ramka dookoła komunikatu o błędzie */
    padding: 5px; /* Dodanie wewnętrznego odstępu */
    margin: 5px 0; /* Dodanie zewnętrznego odstępu */
    border-radius: 5px; /* Lekkie zaokrąglenie rogów dla estetyki */
    font-size: 0.9em; /* Zmniejszenie wielkości czcionki błędu */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 1s ease-in-out;
    height: 0;
    overflow: hidden;
}

.editFormContainer {
    display: flex; /* Użyj flexboxa */
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */

}

.editForm {
    display: flex;
    flex-direction: column; /* Ustawienie elementów w pionie */
}

.error.show {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.inputStyle, .submitButton {
    background: #0094b2; /* kolor tła */
    border: none; /* usuń standardową ramkę */
    border-radius: 20px; /* zaokrąglenie rogów */
    box-shadow: inset 0 0 10px #000000; /* wewnętrzny cień dla efektu wgłębienia */
    color: #ffffff; /* kolor tekstu */
    font-size: 16px; /* wielkość czcionki */
    font-weight: bold; /* pogrubienie tekstu */
    padding: 10px 20px; /* padding wewnątrz input */
    margin: 10px 0; /* odstęp od innych elementów */
    width: 200px; /* szerokość input */
    height: 40px; /* wysokość input */
    text-align: center; /* wyśrodkowanie tekstu */
    cursor: pointer; /* zmiana kursora na wskaźnik */
    transition: box-shadow 0.3s ease, background-color 0.3s ease; /* efekt przejścia */
    outline: none; /* usunięcie outline przy fokusie */
}

.inputStyle::placeholder, .submitButton::placeholder {
    color: #ffffff; /* kolor tekstu placeholder */
    opacity: 1; /* pełna widoczność placeholder */
}

/* Style dla przycisku przy interakcji */
.submitButton:hover, .submitButton:focus {
    box-shadow: inset 0 0 15px #ffffff; /* cień dla efektu 'aktywnego' */
    background: #ff32b4; /* kolor tła przy interakcji */
}

/* Możesz zastosować dodatkowe style dla pseudoklas :hover, :active, :focus itp. */


.inputStyle {
    background: #0094b2;
    border: none;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    width: 200px;
    height: 40px;
    text-align: center;
    font-weight: bold;

    transition: box-shadow 0.3s ease, background-color 0.3s ease;

    outline: none;
}

.inputStyle:focus {
    box-shadow: inset 0 0 15px #ffffff;
    background: #ff32b4;
}

.inputStyle::placeholder {
    color: #ffffff;
    opacity: 1;
    font-weight: bold;
}

.mainPage table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #0094b2; /* Background for the entire table */
    border: 1px solid black; /* Black border for the table */
}

.mainPage th, .mainPage td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc; /* subtle separator for rows */
    color: white; /* White text color */
    font-weight: bold; /* Bold text */
}

.mainPage th {
    background-color: #0094b2; /* background for headers */
}

.mainPage tr:nth-child(even) {
    background-color: #0094b2; /* background for even rows */
}

.mainPage tr:nth-child(odd) {
    background-color: #0094b2; /* background for odd rows */
}

.mainPage tr:hover {
    background-color: #800000; /* background for hovered rows */
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.page-link:hover {
    border-color: #666;
}


.detailsContainer {
    background-color: #fff; /* or any other color that matches your design */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* or as per your design requirement */
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif; /* This should be the font that your site uses */
}

.detailsHeader {
    color: #0094b2; /* picking up the blue shade from the page */
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
}

.detailsContent {
    color: #333; /* A darker shade for good readability */
    margin-bottom: 10px;
}

.detailsContent strong {
    color: #555; /* Slightly lighter than the text for contrast */
}

/* If you have sections like 'Book Received' */
.detailsSection {
    margin-top: 20px;
}

.detailsSectionHeader {
    color: #0094b2; /* Similar to the main header to indicate section title */
    margin-bottom: 10px;
}

/* Styling for the book details */
.bookDetails {
    background-color: #f8f8f8; /* A light background for the book details */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* If you are using lists for details */
.detailsList {
    list-style: none;
    padding: 0;
}

.detailsList li {
    padding: 5px 0;
}

.detailsContainer {
    background-color: #0094b2; /* Blue background */
    color: #ffffff; /* White text */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: adds depth */
    max-width: 800px; /* Adjust width as necessary */
    margin: 40px auto; /* Centers the box */
    font-family: 'Open Sans', sans-serif; /* Use the font that matches your design */
}

.detailsHeader {
    color: #ffffff;
    font-size: 24px; /* Adjust size as needed */
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0e6d2; /* Lighter shade for the bottom border */
}

.detailsContent {
    color: #ffffff;
    font-size: 18px; /* Adjust size as needed */
    line-height: 1.6; /* Spacing for readability */
    margin-bottom: 15px;
}

.detailsContent strong {
    color: #ffffff; /* A lighter shade for the labels if needed */
}

/* If you have sections like 'Book Received' */
.detailsSection {
    margin-top: 30px;
}

.detailsSectionHeader {
    color: #ffffff;
    font-size: 20px; /* Adjust size as needed */
    margin-bottom: 15px;
}

/* Styling for the book details */
.bookDetails {
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #a67c52; /* A slightly different brown for contrast */
}

.actionButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.actionButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #0094b2; /* Blue background to match the design */
}

.actionButtons button:hover {
    background-color: #a67c52; /* A darker blue for hover effect */
}

.training-buttons, .meal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.training-buttons h1,.meal-buttons h1 {
    margin-right: 20px; /* Adjust as needed */
}

.training-buttons a, .meal-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.training-buttons a:hover, .meal-buttons a:hover {
    background-color: #333;
    color: #fff;
}



/* Responsive Design */
@media (max-width: 768px) {
    .detailsContainer {
        padding: 10px;
        margin: 10px;
    }
}


/* Responsive table */
@media (max-width: 768px) {
    .mainPage table {
        display: block;
        overflow-x: auto;
    }
}

