.profileTab {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 690px; /* Adjusted max-width for 15% increase */
    margin: 0 auto;
    transform: scale(1.15); /* Scaled up by 15% */
    transform-origin: center;
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 575px; /* Adjusted max-width for 15% increase */
    margin: 0 auto;
}

.editForm label {
    margin-bottom: 5px;
    color: white; /* Label color */
}

.editForm input,
.editForm textarea,
.editForm select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    color: white; /* Text color */
}

.editForm textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
    min-height: 100px;
}

.editForm button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add some top margin */
}

.editForm button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red; /* Style for error messages */
    margin-top: 5px;
}

.specializationTags {
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap to the next line */
    margin-top: 10px;
}

.specializationTag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center content */
}

.specializationTag button {
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.inputStyle{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
    color: white; /* Text color */
}

