.addSchemaPage-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.addSchemaPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 96%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addSchemaPage label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

.addSchemaPage input[type="text"],
.addSchemaPage select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    box-sizing: border-box;
}

.addSchemaPage select option {
    background-color: #333;
    color: white;
}

.addSchemaPage-buttons-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.addSchemaPage-add-btn,
.addSchemaPage-save-btn,
.addSchemaPage-return-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
    width: 180px;
}

.addSchemaPage-add-btn {
    background-color: #007bff;
}

.addSchemaPage-add-btn:hover {
    background-color: #0056b3;
}

.addSchemaPage-save-btn {
    background-color: #4CAF50;
}

.addSchemaPage-save-btn:hover {
    background-color: #45a049;
}


.addSchemaPage-return-btn {
    background-color: #6c757d;
}

.addSchemaPage-return-btn:hover {
    background-color: #5c6268;
}

.schema-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schema-table th,
.schema-table td {
    padding: 8px;
    border: 1px solid #444;
    text-align: left;
}

.schema-table th {
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}