html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;

}

.login-form-container {
    background: #222;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.login-form-container.visible {
    opacity: 1;
    transform: translateY(0);
    background: #333;
}

.login-page-form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-page-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.login-page-form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
}

.login-page-form-group input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.error {
    color: #ff4d4d;
    font-size: 14px;
    margin-bottom: 5px;
    display: none;
}

.error.show {
    display: block;
}

.register-section {
    margin-top: 35px;
    text-align: center;
    color: #ccc;
}

.register-button {
    padding: 10px;
    width: 100%;
    background: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.register-button:hover {
    background: #218838;
}

@media (max-width: 480px) {
    .login-form-container {
        width: 90%;
        padding: 20px;
    }

    button {
        font-size: 16px;
        padding: 10px;
    }
}