.detailsItems-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222;
    font-family: 'Arial', sans-serif;
    color: white;
    padding-top: 80px;
}

.detailsItems {
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailsHeader {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.detailsItems-table {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.detailsItemsForm {
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.detailsItemsForm select {
    background-color: #333;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}.detailsItemsForm select option {
     background-color: #222;
     color: white;
 }

.detailsContent {
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
}

.detailsContent strong {
    font-weight: bold;
    margin-right: 5px;
}

.detailsItems-buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.detailsItems-save-btn, .detailsItems-delete-btn, .detailsItems-return-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 160px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1rem;
}

.detailsItems-save-btn {
    background-color: #4CAF50;
    color: white;
}

.detailsItems-save-btn:hover {
    background-color: #45a049;
}

.detailsItems-delete-btn {
    background-color: #dc3545;
    color: white;
}

.detailsItems-delete-btn:hover {
    background-color: #c12a36;
}

.detailsItems-return-btn {
    background-color: #6c757d;
}

.detailsItems-return-btn:hover {
    background-color: #5c6268;
}

.editForm > * {
    margin-bottom: 10px;
}